body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}
textarea {
  width: 100%;
}
.hidden {
    visibility: hidden;
    line-height: 5;
}
.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
}
.past {
    background-color: red;
    color: white;
}
.present {
    background-color: blue;
    color: white;
}
.future {
    background-color: green;
    color: white;
}
.sTime {
    margin-top: 20px;
    font-size: 24px;
}
.sv {
    height: 65px;
    width: 100%;
    background-color: white;
    background-image: url(images/sv.png);
    background-size: cover;
    border: none;
}
.sv:focus {
    outline: none;
}
.sv:active {
    background-image: url(images/svs.png);
}
#clr {
    margin-top: 15px;
    width: 100%;
    height: 40px;
}