body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-image: url(images/bs.png);
    color: rgb(0, 61, 61);
}
textarea {
  width: 100%;
  border-radius: 5px;
}
.hidden {
    visibility: hidden;
    line-height: 5;
}
.past {
    background-color: rgb(255, 182, 182);
}
.present {
    background-color: rgb(185, 185, 255);
}
.future {
    background-color: rgb(196, 255, 196);
}
.sTime {
    margin-top: 20px;
    font-size: 24px;
}
.sv {
    height: 65px;
    width: 100%;
    background-color: transparent;
    background-image: url(images/sv.png);
    background-size: cover;
    border: none;
}
.sv:focus {
    outline: none;
}
.sv:active {
    background-image: url(images/svs.png);
}
.tl {
    color: rgb(0, 61, 61);
}
.wh {
    text-align: center;
    background-color: rgb(249, 253, 253);
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: solid;
    border-color: teal; 
}
#clr {
    margin-top: 15px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    border-color: teal;
    border-top: none;
    border-left: none;
    color: rgb(0, 61, 61);
}
#clr:focus {
   outline: none;
}